<a href="https://colab.research.google.com/github/harrynguyen14/Email-Spam/blob/main/Email_Spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Email spam/emails.csv/emails.csv')
data.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
data.shape

(5172, 3002)

In [ ]:
data.drop(columns=['Email No.'], inplace=True)
data.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
data.isnull().any().value_counts()

False    3001
dtype: int64

In [ ]:
X=data.iloc[:, :data.shape[1]-1]
y=data.iloc[:, -1]
X.shape, y.shape

((5172, 3000), (5172,))

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=8)

##Logistic Regression

In [ ]:
LR = LogisticRegression(solver= 'liblinear')
y_pred=LR.fit(X_train, y_train).predict(X_test)
print(f"Accuracy for {LR} model : {accuracy_score(y_test, y_pred)}")

Accuracy for LogisticRegression(solver='liblinear') model : 0.9814385150812065

##Random Forest

In [ ]:
rf=RandomForestClassifier(n_estimators=100)
y_pred=rf.fit(X_train, y_train).predict(X_test)
print(f"Accuracy for {rf} model : {accuracy_score(y_test, y_pred)}")

Accuracy for RandomForestClassifier() model : 0.9706109822119103

##Naive Bayes

In [ ]:
clf1 = MultinomialNB(alpha=1)
y_pred=clf1.fit(X_train, y_train).predict(X_test)
print(f"Accuracy for {clf1} model : {accuracy_score(y_test, y_pred)}")

Accuracy for MultinomialNB(alpha=1) model : 0.954369682907966